<% period ||= nil %>

              <td colspan="11" class="deliverable_details_outer_wrapper_<%= h(deliverable.id) %>">
                
                <div class="expanded">

                  <div class="info">
                    <div class="title">
                      <%= link_to(l(:button_edit), edit_contract_deliverable_path(@project, contract, deliverable), :class => 'icon icon-edit') %>
                      <%= link_to(l(:button_delete), contract_deliverable_path(@project, contract, deliverable), :method => :delete, :confirm => l(:text_are_you_sure), :class => 'icon icon-del') %>
                    </div>
                    
                    <%= textilizable(deliverable, :notes) %>
                    
                    <% if deliverable.retainer? %>
                    <form method="get" action="<%= contract_deliverable_path(@project, contract, deliverable, :format => 'js', :as => 'deliverable_details_row') %>">
                      <fieldset>
                        <select name="period" id="retainer_period_change_<%= h(deliverable.id) %>" class="retainer_period_change">
                          <%= retainer_period_options(deliverable, :selected => period) %>
                        </select>
                      </fieldset>
                    </form>
                    <% end %>

                    <table>
                      <%= show_field(deliverable, :current_period, :html_options => {:class => 'deliverable-current-period'}) if deliverable.retainer? %>
                      <%= show_field(deliverable, :start_date, :format => :format_date, :html_options => {:class => 'deliverable-start-date'}) %>
                      <%= show_field(deliverable, :end_date, :format => :format_date, :html_options => {:class => 'deliverable-end-date'}) %>
                    </table>

                  </div>

                  <%# TODO: Release 2, skinning port %>
                  <div class="finance">
                    <table>
                      <thead>
                        <tr>
                          <th> </th>
                          <th>Spent</th>
                          <th>Budget</th>
                          <th>Hours</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr class="fill">
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tfoot>
                      <tbody>
                        <tr>
                          <td class="l"><a href="#"><strong>Labor</strong></a></td>
                          <td class="labor_budget_spent"><%= h(format_value_field_for_contracts(deliverable.labor_budget_spent(period))) %></td>
                          <td class="labor_budget_total"><%= h(format_value_field_for_contracts(deliverable.labor_budget_total(period))) %></td>
                          <td> TODO: Release 2 / TODO hrs </td>
                        </tr>
                        <tr>
                          <td class="l"><a href="#"><strong>Overhead</strong></a></td>
                          <td class="overhead_budget_spent"><%= h(format_value_field_for_contracts(deliverable.overhead_spent(period))) %></td>
                          <td class="overhead_budget_total"><%= h(format_value_field_for_contracts(deliverable.overhead_budget_total(period))) %></td>
                          <td> TODO: Release 2 / TODO hrs </td>
                        </tr>
                        <%# TODO: Release 2, Fixed %>
                        <%# TODO: Release 2, Markup %>
                        <tr>
                          <td class="l">Profit</td>
                          <td><%= h(format_value_field_for_contracts(deliverable.profit_left(period))) %></td>
                          <td><%= h(format_value_field_for_contracts(deliverable.profit_budget(period))) %></td>
                          <td></td>
                        </tr>
                        <tr class="total">
                          <td class="l"><strong>Total:</strong></td>
                          <td class="total_spent"><strong><%= h(format_value_field_for_contracts(deliverable.total_spent(period))) %></strong></td>
                          <td class="total"><strong><%= h(format_value_field_for_contracts(deliverable.total(period))) %></strong></td>
                          <td><strong>TODO: Release 2</strong></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  
                  <div class="issue_status">
                    <table>
                      <thead>
                        <tr>
                          <th colspan="2"><%= l(:label_issue_status_plural) %></th>
                        </tr>
                      </thead>
                      <%# TODO: Release 2 Issue status counters
                          <tr>
                            <td>Proposed</td>
                      <td class="number">1</td>
                            </tr>
                    <tr>
                      <td>On Hold</td>
                            <td class="number">1</td>
                    </tr>
                                    <tr>
                                    <td>Complete</td>
                      <td class="number">14</td>
                                    </tr>
                    <tr>
                      <td><strong>All</strong></td>
                      <td class="number">16</td>
                                    </tr>
                %>
                    </table>
                  </div>
                  <div class="clear"></div>
                </div>
              </td>

