<% form.inputs :name => label, :class => "deliverable-finances #{fieldset_class}" do %>

  <li style="display:none;" id='retainer-finances-message'>
    <%= content_tag(:p, l(:text_retainer_monthly_message)) %>
  </li>

  <li class="numeric optional">
    <%= content_tag(:label, l(:field_labor)) %>
    <table id="deliverable-labor" class="deliverable_finance_table">

      <% form.fields_for :labor_budgets, labor_budgets do |labor_budget| %>
        <%= labor_budget.hidden_field(:year) %>
        <%= labor_budget.hidden_field(:month) %>
      <tr>
        <%# TODO: Select field for the Time Entry Activity in a td %>
        <td>
          <select><option>TODO: Release 3</option></select>
        </td>
        <td>
          <p class="inline-hints"><%= labor_budget.label(:hours, l(:text_short_hours)) %></p>
          <%= labor_budget.text_field(:hours, :value => format_deliverable_value_fields(labor_budget.object.hours), :size => 10) %>
        </td>
        <td>
          <p class="inline-hints"><%= labor_budget.label(:budget, l(:text_dollar_sign)) %></p>
          <%= labor_budget.text_field(:budget, :value => format_deliverable_value_fields(labor_budget.object.budget), :size => 10) %>
        </td>
        <%# TODO: Green Add button for multiple records %>
        <td>
          Todo: Add button (Release 3)
        </td>
      </tr>
      <% end %>
    </table>
  </li>

  <li class="numeric optional">
    <%= content_tag(:label, l(:field_overhead)) %>
    <table id="deliverable-overhead" class="deliverable_finance_table">
      
      <% form.fields_for :overhead_budgets, overhead_budgets do |overhead_budget| %>
        <%= overhead_budget.hidden_field(:year) %>
        <%= overhead_budget.hidden_field(:month) %>
      <tr>
        <%# TODO: Select field for the Time Entry Activity in a td %>
        <td>
          <select><option>TODO: Release 3</option></select>
        </td>
        <td>
          <p class="inline-hints"><%= overhead_budget.label(:hours, l(:text_short_hours)) %></p>
          <%= overhead_budget.text_field(:hours, :value => format_deliverable_value_fields(overhead_budget.object.hours),:size => 10) %>
        </td>
        <td>
          <p class="inline-hints"><%= overhead_budget.label(:budget, l(:text_dollar_sign)) %></p>
          <%= overhead_budget.text_field(:budget, :value => format_deliverable_value_fields(overhead_budget.object.budget), :size => 10) %>
        </td>
        <%# TODO: Green Add button for multiple records %>
        <td>
          Todo: Add button (Release 3)
        </td>
      </tr>
      <% end %>
    </table>
  </li>

  <li class="numeric optional">
    <div id="deliverable-fixed" class="fixed-item-form">
		  <label for="contract_discount">Fixed</label>

      <% form.fields_for :fixed_budgets, fixed_budgets do |fixed_budget| %>
        <p class="inline-hints" style="display:none;"><%= fixed_budget.label(:title, l(:field_title))%></p>
        <%= fixed_budget.text_field(:title) %>
        
        <p class="inline-hints">
          <%= fixed_budget.label(:budget, l(:field_budget), :style => 'display: none;')%> <%# Hidden label :| %>
          <%= l(:text_dollar_sign) %>
        </p>
		    <%= fixed_budget.text_field(:budget) %>

		    <p class="inline-hints">
          <%= fixed_budget.label(:markup, l(:field_markup), :style => 'display: none;')%> <%# Hidden label :| %>
          <%= l(:field_discount_hint) %>
        </p>
        <%= fixed_budget.text_field(:markup) %>

        <p class="inline-hints" style="display:none;"><%= fixed_budget.label(:description, l(:field_description), :for => "fixed-description#{fixed_budget.object.object_id}")%></p>
        <%= fixed_budget.text_area(:description, :class => 'wiki-edit', :rows => '5', :id => "fixed-description#{fixed_budget.object.object_id}") %>
        <%= wikitoolbar_for "fixed-description#{fixed_budget.object.object_id}" %>

        <p>Todo: Add button (Release 3)</p>
      <% end %>
	  </div>
	  

  </li>

  <%= form.input :total, :input_html => {:size => 10}, :wrapper_html => {:class => 'deliverable_total_input'}, :hint => l(:text_dollar_sign) %>

<% end %>
