<div class="box tabular">
<% form.inputs :name => l(:text_deliverable_details_legend) do %>
  <%= form.input :title, :required => true %>
  <% if resource.new_record? %>
    <%= form.input(:type, :required => true, :as => :select, :collection => [["Fixed", "FixedDeliverable"],["Hourly", "HourlyDeliverable"]], :include_blank => false, :input_html => {:class => 'type'}) %>
  <% else %>
    <%= form.input :type, :as => :hidden, :class => 'type' %>
  <% end %>
  <%= form.input :manager, :required => true, :collection => @project.users.sort %>
  <%= form.input :start_date, :as => :string, :input_html => {:size => 10}, :hint => calendar_for('deliverable_start_date') %>
  <%= form.input :end_date, :as => :string, :input_html => {:size => 10}, :hint => calendar_for('deliverable_end_date') %>
  <%= form.input :notes, :input_html => {:class => 'wiki-edit', :rows => '5'} %>

  <% unless resource.new_record? %>
  <li class="boolean optional">
    <%= label(resource.class.to_s.underscore, 'feature_sign_off') %>
    <%= check_box resource.class.to_s.underscore, 'feature_sign_off' %>
  </li>
  <li class="boolean optional">
    <%= label(resource.class.to_s.underscore, 'warranty_sign_off') %>
    <%= check_box resource.class.to_s.underscore, 'warranty_sign_off' %>
  </li>
  <% end %>
<% end %>

<% form.inputs :name => l(:text_deliverable_finances), :id => 'deliverable-finances' do %>

  <li class="numeric optional">
    <%= content_tag(:label, l(:field_labor)) %>
    <table class="deliverable_finance_table">

      <% form.fields_for :labor_budgets do |labor_budget| %>
      <tr>
        <%# TODO: Select field for the Time Entry Activity in a td %>
        <td>
          <p class="inline-hints"><%= l(:text_short_hours) %></p>
          <%= labor_budget.text_field(:hours, :size => 10) %>
        </td>
        <td>
          <p class="inline-hints"><%= l(:text_dollar_sign) %></p>
          <%= labor_budget.text_field(:budget, :size => 10) %>
        </td>
        <%# TODO: Green Add button for multiple records %>
      </tr>
      <% end %>
    </table>
  </li>

  <li class="numeric optional">
    <%= content_tag(:label, l(:field_overhead)) %>
    <table class="deliverable_finance_table">
      
      <% form.fields_for :overhead_budgets do |overhead_budget| %>
      <tr>
        <%# TODO: Select field for the Time Entry Activity in a td %>
        <td>
          <p class="inline-hints"><%= l(:text_short_hours) %></p>
          <%= overhead_budget.text_field(:hours, :size => 10) %>
        </td>
        <td>
          <p class="inline-hints"><%= l(:text_dollar_sign) %></p>
          <%= overhead_budget.text_field(:budget, :size => 10) %>
        </td>
        <%# TODO: Green Add button for multiple records %>
      </tr>
      <% end %>
    </table>
  </li>

  <%= form.input :total, :input_html => {:size => 10}, :wrapper_html => {:class => 'deliverable_total_input'}, :hint => l(:text_dollar_sign) %>

<% end %>

</div>

<% form.buttons do %>
  <ol>
    <li class="commit">
      <%= submit_tag(l(:button_save)) %>
      <%= link_to(l(:button_cancel), cancel_path) %>
    </li>
  </ol>
<% end %>

<%= wikitoolbar_for resource.to_underscore + '_notes' %>
