<% form.inputs do %>
  <%= form.input :title, :required => true %>
  <%= form.input :type, :required => true, :as => :select, :collection => [["Fixed", "FixedDeliverable"],["Hourly", "HourlyDeliverable"]] %>
  <%= form.input :manager, :required => true, :collection => @project.users %>
  <%= form.input :start_date, :as => :string, :input_html => {:size => 10}, :hint => calendar_for('deliverable_start_date') %>
  <%= form.input :end_date, :as => :string, :input_html => {:size => 10}, :hint => calendar_for('deliverable_end_date') %>
  <%= form.input :notes, :input_html => {:class => 'wiki-edit', :rows => '5'} %>

  <% unless resource.new_record? %>
  <li class="boolean optional">
    <%= label(resource.class.to_s.underscore, 'feature_sign_off') %>
    <%= check_box resource.class.to_s.underscore, 'feature_sign_off' %>
  </li>
  <li class="boolean optional">
    <%= label(resource.class.to_s.underscore, 'warranty_sign_off') %>
    <%= check_box resource.class.to_s.underscore, 'warranty_sign_off' %>
  </li>
  <% end %>

  <%= form.input :total, :input_html => {:size => 10} %>
<% end %>
<% form.buttons do %>
  <%= form.commit_button :label => l(:button_save) %>
  <%= link_to(l(:button_cancel), cancel_path) %>
<% end %>

<%= wikitoolbar_for 'deliverable_notes' %>
