<% form.inputs do %>
  <%= form.input :title, :required => true %>
  <% if resource.new_record? %>
    <%= form.input(:type, :required => true, :as => :select, :collection => [["Fixed", "FixedDeliverable"],["Hourly", "HourlyDeliverable"]], :include_blank => false, :input_html => {:class => 'type'}) %>
  <% else %>
    <%= form.input :type, :as => :hidden, :class => 'type' %>
  <% end %>
  <%= form.input :manager, :required => true, :collection => @project.users.sort %>
  <%= form.input :start_date, :as => :string, :input_html => {:size => 10}, :hint => calendar_for('deliverable_start_date') %>
  <%= form.input :end_date, :as => :string, :input_html => {:size => 10}, :hint => calendar_for('deliverable_end_date') %>
  <%= form.input :notes, :input_html => {:class => 'wiki-edit', :rows => '5'} %>

  <% unless resource.new_record? %>
  <li class="boolean optional">
    <%= label(resource.class.to_s.underscore, 'feature_sign_off') %>
    <%= check_box resource.class.to_s.underscore, 'feature_sign_off' %>
  </li>
  <li class="boolean optional">
    <%= label(resource.class.to_s.underscore, 'warranty_sign_off') %>
    <%= check_box resource.class.to_s.underscore, 'warranty_sign_off' %>
  </li>
  <% end %>

  <% form.inputs :name => l(:text_deliverable_finances), :id => 'deliverable-finances' do %>
    <% form.semantic_fields_for :labor_budgets do |labor_budget| %>
      <% labor_budget.inputs :name => l(:field_labor), :id => 'deliverable-labor' do %>
        <%= labor_budget.input :hours, :label => l(:text_short_hours), :input_html => {:size => 10} %>
        <%= labor_budget.input :budget, :label => l(:text_dollar_sign), :input_html => {:size => 10} %>
      <% end %>
    <% end %>

    <% form.semantic_fields_for :overhead_budgets do |overhead_budget| %>
      <% overhead_budget.inputs :name => l(:field_overhead), :id => 'deliverable-overhead' do %>
        <%= overhead_budget.input :hours, :label => l(:text_short_hours), :input_html => {:size => 10} %>
        <%= overhead_budget.input :budget, :label => l(:text_dollar_sign), :input_html => {:size => 10} %>
      <% end %>
    <% end %>
  <% end %>

  <%= form.input :total, :input_html => {:size => 10}, :wrapper_html => {:class => 'deliverable_total_input'}, :hint => l(:text_dollar_sign) %>

<% end %>

<% form.buttons do %>
  <%= form.commit_button :label => l(:button_save) %>
  <%= link_to(l(:button_cancel), cancel_path) %>
<% end %>

<%= wikitoolbar_for resource.to_underscore + '_notes' %>
