<div class="box tabular">
<% form.inputs :name => l(:text_deliverable_details_legend) do %>
  <%= form.input :title, :required => true %>
  <% if resource.new_record? %>
    <li class="select required" id="deliverable_type_input">
      <%= form.label(:type, l(:field_type)) %>
      <%= form.select(:type, Deliverable.valid_types_to_select, {:include_blank => false}, {:class => 'type'}) %>

      <%= form.select(:frequency, RetainerDeliverable.frequencies_to_select, :include_blank => false) %>
    </li>
  <% else %>
    <%= form.input :type, :as => :hidden, :class => 'type' %>
  <% end %>
  <%= form.input :manager, :required => true, :collection => @project.users.sort %>
  <%= form.input :start_date, :as => :string, :input_html => {:size => 10}, :hint => calendar_for('deliverable_start_date') %>
  <%= form.input :end_date, :as => :string, :input_html => {:size => 10}, :hint => calendar_for('deliverable_end_date') %>
  <%= form.input :notes, :input_html => {:class => 'wiki-edit', :rows => '5'} %>

  <% unless resource.new_record? %>
  <li class="boolean optional">
    <%= label(resource.class.to_s.underscore, 'feature_sign_off') %>
    <%= check_box resource.class.to_s.underscore, 'feature_sign_off' %>
  </li>
  <li class="boolean optional">
    <%= label(resource.class.to_s.underscore, 'warranty_sign_off') %>
    <%= check_box resource.class.to_s.underscore, 'warranty_sign_off' %>
  </li>
  <% end %>
<% end %>

<% if resource.retainer? %>
<% resource.months.each do |month| %>
<%= render :partial => 'finance_form', :locals => {:form => form, :labor_budgets => resource.labor_budgets_for_date(month), :overhead_budgets => resource.overhead_budgets_for_date(month), :label => l(:text_deliverable_finances_date, :date => month.strftime("%B, %Y")), :fieldset_class => 'date-' + month.strftime('%Y-%m') } %>
<% end %>
<% else %>
<%= render :partial => 'finance_form', :locals => {:form => form, :labor_budgets => resource.labor_budgets, :overhead_budgets => resource.overhead_budgets, :label => l(:text_deliverable_finances), :fieldset_class => '' } %>
<% end %>

</div>

<% form.buttons do %>
  <ol>
    <li class="commit">
      <%= submit_tag(l(:button_save)) %>
      <%= link_to(l(:button_cancel), cancel_path) %>
    </li>
  </ol>
<% end %>

<%= wikitoolbar_for resource.to_underscore + '_notes' %>
