      <tr class="overhead-budget-form">
        <td>
          <%= overhead_budget.hidden_field(:year) %>
          <%= overhead_budget.hidden_field(:month) %>

          <%= overhead_budget.label(:time_entry_activity_id, :class => "hidden") %>
          <%= overhead_budget.select(:time_entry_activity_id, options_from_collection_for_select(@project.non_billable_activities, :id, :name, overhead_budget.object.time_entry_activity_id), {:include_blank => false}, {:class => 'financial'}) %>
        </td>
        <td>
          <p class="inline-hints"><%= overhead_budget.label(:hours, l(:text_short_hours)) %></p>
          <%= overhead_budget.text_field(:hours, :value => format_deliverable_value_fields(overhead_budget.object.hours),:class => 'financial') %>
        </td>
        <td>
          <p class="inline-hints"><%= overhead_budget.label(:budget, l(:text_dollar_sign)) %></p>
          <%= overhead_budget.text_field(:budget, :value => format_deliverable_value_fields(overhead_budget.object.budget), :class => 'financial') %>
        </td>
        <td class="add-overhead">
          <%= overhead_budget.hidden_field "_destroy", :class=> "delete-flag" %>
          <%= link_to_function(l(:button_delete), 'deleteDeliverableFinance(this)', :class => 'delete icon icon-del') %>
          <%= link_to_function(l(:button_add), 'addNewDeliverableOverheadItem()', :class => 'add icon icon-add', :style => 'display:none;') %>
        </td>
      </tr>
