<div class="title-bar" id="upper-title-bar">
  <%= content_tag(:h2, h(contract.name)) %>
  
  <div class="title-bar-actions">
    <span><a href="#TODO-release-4" class=""><%= release(4, "Log time") %></a></span>

    <span class="meta-sep"> | </span>
    
    <span id="watcher"><a class="icon icon-fav-off" href="#TODO-release-3" onclick=""><%= release(3, "Watch") %></a></span>

    <span class="meta-sep"> | </span>
    
    <span><a href="#TODO"><%= release(5, "Copy") %></a></span>
    <span class="meta-sep"> | </span>
    
    <div class="update button-large">
      <%= link_to(l(:button_update), edit_contract_path(@project, contract)) %>
    </div>
  </div>
</div>
